.input-container {
  position: relative;
}

.input-image {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
}

.input-text {
  top: 50%;
  transform: translateY(148%);
}

.input-box {
  padding-left: 30px;
}
